/demo/test/

/assets/data/
/assets/project1/

/demo/*/index.js
/demo/*/analysis

/demo/electron_cylinder/data/

/server/vd_data/
/tool2/data/
/tool_crowd/VisibilityAnalysis2/data/

# 忽略 /node_modules/ 目录及其下的所有文件
/node_modules/
/*/*/node_modules/
/demo/CloudBake_nopack/CloudBake/
/新建文件夹/
/*/新建文件夹/
/*/*/新建文件夹/
/*/*/*/新建文件夹/
/tool_crowd/cpp_test/build/
/tool_crowd/*/build/

# 忽略/.cache/目录及其下的所有文件
/.cache/

/assets/space8Zip/
/node_modules0/
/node_modules2/

# 忽略 /dist/ 目录及其下的所有文件
dist
/dist/index.html

# 不忽略 
! /dist/config_sim/

# 不忽略 
! /dist/convert2.py

# 不忽略 
! /dist/shader/

# 不忽略 /dist/assets/ 目录及其下的所有文件
! /dist/assets/ 

# 忽略 /dist/ 目录及其下的所有文件
/analysis/p2p/data/
/analysis/p2p/detection/

# 忽略 /dist/ 目录及其下的所有文件
/dist/assets/configVVD.json
